/*
 * Scrollbar
 */

/* Hide scrollbar by default */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

/*
 * Scrollbar
 */

/* Hide scrollbar by default */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 4px;
  border: 2px solid transparent;
  background-clip: content-box;
  /* Fade out over .3s when .scrolling class is removed */
  transition: background-color .3s ease-out;
}

/* On scroll, make scrollbar thumb visible */
body.scrolling::-webkit-scrollbar-thumb,
.visible-scrollbar::-webkit-scrollbar-thumb {
    background-color: #888;
    /* Fade in over .1s */
    transition: background-color .1s ease-in;
}

/* We still want it visible when hovering the thumb itself, even if not scrolling */
::-webkit-scrollbar-thumb:hover {
    background-color: #888;
    transition: background-color .1s ease-in;
}


/* Light theme */
.theme-light body.scrolling::-webkit-scrollbar-thumb,
.theme-light .visible-scrollbar::-webkit-scrollbar-thumb,
.theme-light ::-webkit-scrollbar-thumb:hover {
  background-color: #e0e0e0; /* divider */
}

/* Dark theme */
.theme-dark body.scrolling::-webkit-scrollbar-thumb,
.theme-dark .visible-scrollbar::-webkit-scrollbar-thumb,
.theme-dark ::-webkit-scrollbar-thumb:hover {
  background-color: #30363d; /* divider */
}

/* When hovering the thumb itself */
body.scrolling::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:hover {
    background-color: #607d8b;
}